.leaderboard {
  display: flex;
  justify-content: center;
}

.leaderboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
  max-width: 800px; /* set a maximum width for the table */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto; /* add horizontal scrolling when needed */
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 2px solid black;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap; /* prevent table cells from wrapping */
}

th.entries,
td.entries {
  font-size: 28px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

th.rank,
td.rank {
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-size: 28px;
  font-weight: bold;
}

th.name,
td.name {
  border-right: 2px solid black;
  font-size: 28px;
}

th.joined,
td.joined {
  border-right: 2px solid black;
  font-size: 20px;
}

td.rank,
td.joined {
  text-align: center;
  font-size: 20px;
}

td.rank {
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 16px; /* decrease font size for smaller screens */
  }
}