.App {
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding-top: 600px; /* add some padding to prevent overlap */
  font-size: 1.2rem; /* default font size */
}


.image-link-form input[type="text"] {
  padding: 5px;
  font-size: 0.8rem;
}

.image-link-form button {
  padding: 5px;
  font-size: 0.8rem;
}


.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.rank {
  margin-top: 5px;
  font-size: 1rem;
}

.navigation {
  height: 50px;
}

.navigation ul {
  font-size: 0.8rem;
}

.particles-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}
 


@media only screen and (max-width: 600px) {
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding-top: 600px; /* add some padding to prevent overlap */
    font-size: 1.2rem; /* default font size */
  }

  .navigation {
    height: 50px;
  }
  
  .navigation ul {
    font-size: 0.8rem;
  }

  .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .rank {
    margin-top: 5px;
    font-size: 1rem;
  }

  .image-link-form input[type="text"] {
    padding: 5px;
    font-size: 0.8rem;
  }

  .image-link-form button {
    padding: 5px;
    font-size: 0.8rem;
  }
}
